.MaxContenedor {
  height: 100%;  /*toda la pantalla vertical*/
  display: flex;
  flex-direction: column;
}

.Encabezado {
  background-color: #3e7092;  /* color fondo */
  color: white;  /*color texto */
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;  /*elementos en los extremos*/
  border: 1px solid #ccc;
  border-radius: 10px;
}

.botonCerrarSesion {
  font-weight: bold;  /* font-bold */
  transition: background-color 0.3s ease;  /*transicion*/
  border-radius: 0.375rem;
  padding: 0.3rem 0.75rem;
  font-size: 1.75rem ;

}
.botonCerrarSesion:hover{
  background-color: #c53030;
}
.Contenido {
  display: flex;  /* flexible */
  flex: 1;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
/*Menu configuracion CSS*/
.Menu {
  background-color: #87c5c1de;
  width: 25%;  /* 25% del ancho del contenedor padre */
  padding-top: 1rem;  /* padding 1% contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ListaPrincipal{
  margin:25px;
  padding:0;
  width: 80%;
}
.elementoPrincipal{
  padding-top: 0.75rem;
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
  background-color: #5b7472;
  border-radius: 5px; /*esquina redondeada*/
  display: block;  
}
.submenuPrincipal{
  width: 100%;
  font-size: 1.5rem;
  display: block;
  background-color: #9fc1e09c;
}

.ListaPrincipal li:hover{
  background-color: #e0e0e0;
}
.ListaSecundaria{
  background-color: #7aa2cfe1;
  list-style-type: none;
  font-size: 1.2rem;
}
.ListaSecundaria li{
  margin: 0rem;
}

/*Formularios configuracion CSS*/
.Formularios {
  background-color: #d3d1f5;
  /*fondo contraste */
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}